<% provide(:title, 'Update Meeting') %>
<h1>Update Meeting</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= bootstrap_form_for(@meeting) do |f| %>
        <%= render 'error_messages' %>
            <%= f.datetime_select :time, class: 'form-control' %>
            In Timezone: <%= @meeting.game.timezone %>
            <%= f.select :duration, (0.5...7.5).step(0.5), class: 'form-control', label: "Duration (Hours)" %> 
            <%= f.text_field :place, class: 'form-control' %>         
            <br>
            <table>
                <% if @proposed_time %>
                  <% p_time = @proposed_time.in_time_zone(@meeting.game.timezone) %>
                  <% @meeting.game.users.each  do |user| %>
                    <tr>
                      <% playerTime = p_time.in_time_zone(user.timezone) %>
                      <td> <%= user.username %> </td>
                      <td> <%= pretty_time(playerTime) %> </td>
                      </tr>
                  <% end %>
                  
                <% else %>
                <% @meeting.game.users.each  do |user| %>
                      <tr> <td> <%= user.username %> </td> </tr>
                  <% end %>
                <% end %>
            </table>
            <br>
            <%= f.submit "Check Timing", class: "btn btn-primary", name: "check" %>
            <%= f.submit "Update Game", class: "btn btn-primary" %>
     <% end %>
     <%= bootstrap_form_for(@meeting, url:meeting_path(@meeting), method: :delete) do |f| %>
        <br>
        <br>
        <%= f.submit "Delete Game", class: "btn btn-primary" %>
     <% end %>
  </div>
 
</div>