<% provide(:title, 'Schedule a Meeting') %>
<h1>Schedule a Meeting</h1>
This is where you schedule meetings

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= bootstrap_form_for(@meeting) do |f| %>
        <%= render 'error_messages' %>
        <%= f.hidden_field :game_id %>
        <%= f.datetime_select :time, class: 'form-control' %>
        <br>
        <div class="datetime">
        <%= f.select :duration, (0.5...7.5).step(0.5), class: 'form-control', label: "Duration (Hours)" %>
        </div>
        <br>
        <%= f.text_field :place, class: 'form-control' %>
        <% if @proposed_time %>
            <%= @proposed_time %>
            <br>
        <% end %>
        <br>
        <table style="width:100%">
            <tr>
            <% @game.users.each  do |user| %>
                <td><%= user.username %></td>
            <% end %>
            </tr>

            </tr>
        </table>
        <br>
        <%= f.submit "Check Timing", class: "btn btn-primary", name: "check" %>
        <%= f.submit "Schedule Meeting", class: "btn btn-primary" %>

     <% end %>
  </div>
</div>