<% provide(:title,"Home") %>

<h1>AdventureTracker</h1>
<p>Welcome to AdventureTracker!</p>
<% unless @loggedout %>
    <p>Here's a list of the RPGs that you're running:</p>
    <% unless @dming.empty? %>
        <table style="width:100%">
            <tr><th>RPG Name</th><th>Description</th></tr>
            <% @dming.each do |game| %>
                <tr>
                <td><a href=/games/<%= game.id %>><%= game.name %></a></td>
                <td><%= game.description %></td>
                <td><a href=/games/<%= game.id %>/edit>Edit</a> | <%= link_to("New Meeting", new_meeting_path(game.id)) %> </td>
                </tr>
            <% end %>
        </table>
    <% else %>
    You are not currently running any games.
    <% end %>
    <br>
    <p>Here's a list of the RPGs that you're playing in:</p>
    <% unless @playing.empty? %>
    <table style="width:48%">
        <tr><th>RPG Name</th><th>Description</th></tr>
        <% @playing.each do |game| %>
            <tr>
            <td><a href=/games/<%= game.id %>><%= game.name %></a></td>
            <td><%= game.description %></td>
            </tr>
        <% end %>
    </table>
    <% else %>
    You are not currently in any games.
    <% end %>
<% end %>