<br>
<br>
<%= @game.name %>
<br>
<%= @game.description %>
<br>
<br>
Current Players:
    <table style="width:50%">
        <% @game.users.each  do |user| %>
            <tr>
            <td><%= user.username %></td>
            <% if @gm  && user.id != @game.gm_id%>
                <td> <%= link_to("Kick Player", kick_game_path(@game.id, user.id), method: :post) %> </td>
            <% else %>
                <td>&nbsp;</td>
            <% end %>
            </tr>
        <% end %>
    </table>
<br>
<br>
<% if @gm  %>
    Applied To Join:
        <table style="width:75%">
            <% @game.knocks.each  do |knock| %>
                <tr>
                <td><%= knock.user.username %></td>
                <td> 
                    <%= link_to("Accept Player", knock_accept_game_path(knock.id), method: :post) %>
                    | <%= link_to("Reject Player", knock_reject_game_path(knock.id), method: :post) %> 
                    </td>
                </tr>
            <% end %>
        </table>
    Invite people to join this game by sending them the link currently in the address bar, then approve them once they've applied.
    <br>
    <br>
<% end %>

<% if @upcoming %>
    Upcoming Meetings:
    <table style="width:75%">
    <% @meetings.each do |meeting| %>
    <tr> <td> Location: <%= meeting.place %>  </td>
         <td> At: <%= pretty_time(meeting.time.in_time_zone(current_user.timezone)) %> </td>
         <td> For <%= meeting.duration %> hours</td>
         <td> <% if @gm %> <%= link_to("Edit", edit_meeting_path(meeting.id)) %> <% end %> </td>
    </tr>
    <% end %>
    </table>
<% else %>
    No meetings currently scheduled for this game.
<% end %>

<% if @member %>
    <br>
    <h3>Announcements</h3>
    <ul>
        <% @game.comments.each do |comment| %>
            <% if comment.id %>
                <li>
                    <%= comment.text %>
                </li>
            <% end %>    
        <% end %>
        </ul>
    <br>
    <br>
        <% if @gm %>
            <%= bootstrap_form_for(@comment, url: comment_game_path(@game), method: :post) do |f| %>
                <%= f.text_area :text, class: 'form-control' %>

                <%= f.submit "Save Comment", class: "btn btn-primary" %>
            <% end %>
        <% end %>
<% end %>

<% if !@gm && @member %>
    <%= form_for(@game, url:leave_game_path(@game), method: :post) do |f| %>
        <%= f.submit "Leave Game", class: "btn btn-primary" %>
    <% end %>
    <br>
    <br>
<% end %>


<% unless @member %>
    You are not a member
    <% unless @knocked %>
        <%= form_for(@game, url:join_game_path(@game), method: :post) do |f| %>
            <%= f.submit "Join Game", class: "btn btn-primary" %>
        <% end %>
    <% else %>
        <br>
        You've applied to this game already.
    <% end %>
<% end %>

